In [1]:
import pandas as pd

##1683. 无效的推文

查询所有无效推文的编号（ID）。当推文内容中的字符数严格大于 15 时，该推文是无效的。
以任意顺序返回结果表

In [2]:
data = [[1, 'Vote for Biden'], [2, 'Let us make America great again!']]
Tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})

在 content 列上应用 str.len() 方法。结果 is_valid 是一个布尔Series，其中表示每个推文是否有效（长度大于 15）

In [4]:
is_valid = Tweets['content'].str.len() > 15

TypeError: 'is_valid' is an invalid keyword argument for print()

In [5]:
print(is_valid)

0    False
1     True
Name: content, dtype: bool

In [15]:
df = Tweets[is_valid]

In [11]:
df

   tweet_id                           content
1         2  Let us make America great again!

In [16]:
df = df[['tweet_id']]
df

   tweet_id
1         2

##1873. 计算特殊奖金

编写解决方案，计算每个雇员的奖金。如果一个雇员的 id 是 奇数 并且他的名字不是以 'M' 开头，那么他的奖金是他资的 100% ，否则奖金为 0 。
返回的结果按照 employee_id 排序。

In [17]:
data = [[2, 'Meir', 3000], [3, 'Michael', 3800], [7, 'Addilyn', 7400], [8, 'Juan', 6100], [9, 'Kannon', 7700]]
Employees = pd.DataFrame(data, columns=['employee_id', 'name', 'salary']).astype({'employee_id':'int64', 'name':'object', 'salary':'int64'})

In [20]:
employees = Employees

bonus = salary if (id % 2 and not name.startwith('M')) else 0

我们如何将此表达式应用于 DataFrame employee 的每一行？

要完成此任务，我们可以使用循环逐一迭代 DataFrame 行。然而，Python 提供了一种更优雅且更高效的方法，称为"向量化"，它使用 apply() 方法。向量化利用 Pandas 中的底层优化，使我们能够一次对整个列或行应用操作，从而实现更快、更简洁的代码。

在这种情况下，使用 apply() 允许我们避免编写显式循环，并更简洁地处理操作。通过定义一个自定义函数来根据条件计算奖金，并利用带有 axis=1 参数的 apply()，我们可以轻松处理每一行并计算相应的奖金。自定义函数如下所示：
lambda x: x['salary'] if x['employee_id'] % 2 and not x['name'].startswith('M') else 0

In [21]:
employees['bonus'] = employees.apply(
    lambda x: x['salary'] if x['employee_id'] % 2 and not x['name'].startswith('M') else 0,
    axis=1
)
# axis = 1 ,循环处理每一行

In [22]:
df = employees[['employee_id','bonus']].sort_values('employee_id')
df

   employee_id  bonus
0            2      0
1            3      0
2            7   7400
3            8      0
4            9   7700